@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}

.box {
  margin-top: 20px;
  h2 {
    margin-bottom: 10px;
  }
}

.bold {
  font-weight: bold;
  text-align: center;
  border: 1px solid red;
  width: max-content;
  padding: 15px;
  margin: 0 auto;
}

.header-scolled {
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
  background: rgba(22, 22, 23, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  transition: all 0.5s;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.start-page {
  width: 100%;
  background-color: #eeeeee;

  .header {
    height: 100vh;
    position: relative;
    z-index: 100;

    .header-text {
      position: absolute;
      z-index: 900;
      color: #000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 900px;
      height: 250px;
      left: calc(50% - 450px);
      top: calc(50% - 125px);

      h1 {
        font-size: 6rem;
        border-bottom: 5px solid #ffffff;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
          0 0 40px #00c9ff, 0 0 70px #00c9ff, 0 0 80px #00c9ff,
          0 0 100px #00c9ff, 0 0 150px #00c9ff; // Textschatteneffekt in Neonblau
      }
      h2 {
        font-size: 5rem;
        font-family: "Open Sans", sans-serif;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
          0 0 40px #00c9ff, 0 0 70px #00c9ff, 0 0 80px #00c9ff,
          0 0 100px #00c9ff, 0 0 150px #00c9ff; // Textschatteneffekt in Neonblau
      }
    }
  }

  .product-component {
    max-width: 1024px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}

.impressum-page {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;

  main {
    min-width: 300px;
    width: 600px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 3px #cccccc;
    text-align: center;
    background-color: #ffffff;
  }
}

.datenschutz-page {
  display: flex;
  justify-content: center;
  background-color: #eeeeee;

  main {
    min-width: 300px;
    width: 900px;
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0px 0px 5px 3px #cccccc;

    h1,
    h2,
    h3,
    h4,
    p {
      margin-bottom: 15px;
    }
  }
}
